@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    box-sizing: border-box;
}

:root{
     --insideColor: red;
     --line: #9AD0EC;
     --btn: #1572A1;
}

body {
    background-color: #f6f7fb;
    font-family:'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line);
}

.btn{
    background-color: var(--btn);
    color: #C0D8C0;
    border:  1 solid;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

}

.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: #FFF2F9;
    cursor: not-allowed;
    color: red;
}